<% if logged_in?  %>
<%= render 'reviews/reviews', reviews: @reviews %>
<%  else  %>  
  <% content_for :cover do %>
    <div class="cover">
      <div class="cover-inner">
        <div class="cover-contents">
          <h1>Share Moviesへようこそ！</h1>
          <%= link_to '会員登録(初めての方)はこちら', signup_path, class: 'btn btn-success btn-lg' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>  